<div class="row">
    <div class="col s12 right-aign">
        <a href="/logout">Logout</a>
    </div>
</div>
<div class="row">
    <div class="col s12 center-align">
        <h1 class="green">SUCCESS</h1>
    </div>
</div>